@media (min-width: 48rem) {
  .header-container {
    flex-direction: row;
    height: auto;
    padding-top: 24px; 
    padding-bottom: 24px;
  }

  .main-nav ul {
    gap: 24px;
  }

  .header-cta {
    display: block;
  }

  .about-summary-grid {
    flex-direction: row;
  }

  .events-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .footer-container {
    flex-direction: row;
  }

  .hero-actions {
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 64rem) {
  .events-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}